config/*
img/*
node_modules
.vscode/*
.github/*
.dockerignore
.gitignore
.codeclimate.yml
.eslintrc.yml
.jshintrc
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
Dockerfile.arm
Dockerfile.arm64
package-lock.json
renovate.json

